<div class="container">
    <div class="text-center" style="padding: 20px; color: green;">
        <h1 >You are Admin</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        
        <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <p class="card-text">MANAGE PROFILE</p>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <p class="card-text">MANAGE USERS</p>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <p class="card-text">MANAGE SERVICES</p>
                    </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <p class="card-text">DASH BOARD CHARTS</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>

    </div>
</div>