<!-- Start your project here-->
<!-- <div class="container">
   <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
     <div class="text-center">
       <img
         class="mb-4"
         src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
         style="width: 250px; height: 90px"
       />
       <h5 class="mb-3">Thank you for visiting us. We're glad you're with us.</h5>
       <p class="mb-3">MDB Team</p>
       <a
         class="btn btn-primary btn-lg"
         href=""
         target="_blank"
         role="button"
         routerLink="/services"
         >Show me available services</a
       >
     </div>
   </div>
 </div> -->
 <!-- End your project here-->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
  <main>
    <div class="intro">
      <h1>Service Provider</h1>
      <p>Welcome to our service provider website, where we specialize in providing top-notch services to meet all your needs. </p>
      <button  class="btn btn-primary btn-lg" routerLink="/services">Available services</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-lightbulb"></i>
        <p class="work-heading">Solutions</p>
        <p class="work-text">
          Whether you're looking for help with your business or personal needs, we've got you covered. From website design and development to graphic design, content creation, social media management, and more, we provide comprehensive solutions to help you achieve your goals
        </p>
      </div>
      <div class="work">
        <i class="fas fa-briefcase"></i>
        <p class="work-heading">Tailored services</p>
        <p class="work-text">
          At our service provider website, we understand that every customer is unique, which is why we tailor our services to meet your specific needs. Our goal is to provide you with a seamless and stress-free experience from start to finish, so you can focus on what matters most to you
        </p>
      </div>
      <div class="work">
        <i class="fas fa-people-arrows"></i>
        <p class="work-heading">Team</p>
        <p class="work-text">We believe that quality is key, which is why we only work with the best in the business. Our team consists of highly skilled professionals who are passionate about what they do and take pride in delivering exceptional results</p>
      </div>
    </div>
  </main>
</body>
