<div class="p-3 text-center bg-light" >
    <h2 class="mb-3">Wellcome {{userName}}</h2>
    <h4 class="mb-4">You have log into the system as Service Provider</h4>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
      <section style="margin-top: 70px;">
      <div class="tile">
            <input type="checkbox" name="option" id="option1">
            <label for="option1" routerLink="/profile">
              <i class="fas fa-user"></i>
                <h6>MANAGE PROFILE</h6>
            </label>
        </div>
        <div class="tile">
            <input type="checkbox" name="option" id="option3">
            <label for="option3" routerLink="/provider-service-list">
              <i class="fas fa-business-time"></i>
                <h6>MANAGE SERVICES</h6>
            </label>
        </div>
    </section>
    </div>
  </div>