<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
      <div class="row row-cols-1 row-cols-md-3 g-4"  *ngFor="let service of ServiceList">
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="https://via.placeholder.com/400x400/000000/ffffff?text=Card+Image" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">{{ service.name }}</h5>
              <p class="card-text">
                {{ service.description }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  </div>