<div class="container">
  <div class="row" style="margin: 60px; margin-bottom: -20px;">
    <div class="col text-center">
      <h2>Available Services</h2>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let service of ServiceList">
        <div class="col">
          <div class="card h-100">
            <div class="card-img-top" ></div>
            <div class="card-body">
              <h5 class="card-title">{{ service.name }}</h5>
              <p class="card-text">{{ service.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Ratings : {{ service.averageRating }} out of 10</small>
            </div>
            <div class="card-effect">
              <button class="btn btn-link" [routerLink]="['/view-service', service.id]">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>